DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database (PostgreSQL recommended for production)
# If unset, dev defaults to SQLite.
DB_ENGINE=django.db.backends.postgresql
DB_NAME=govsite
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

